/*RESPONSIVE GRID LAYOUT ********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/*END END RESPONSIVE GRID LAYOUT ********************************/
/*NAV BAR ********************************/
#NavWrap {
    position: fixed;
    z-index: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
}

#NavWrap:hover {
    background-color: #595959;
}

#NavWrap ul {
    list-style-type: none;
    margin: 0 2% 0 0;
    padding: 0;
}

#NavWrap li {
    float: left;
}

#NavWrap li button {
    text-decoration: none;
    display: block;
    font-size: 1.6em;
    font-family: "Courier New",Courier,monospace;
    font-weight: 200;
    color: #e6e6e6;
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
}

#NavWrap li button:hover {
    box-shadow: 0 2px 4px #000;
}

#NavWrap li button:focus {
    outline: none;
}

#RightSide {
    float: right;
}

/*END END NAV BAR ********************************/
/*SECTION 1 ********************************/
#FixedImage {
    position: fixed;
    background-image: url(https://cloud.githubusercontent.com/assets/15953484/11613065/adb80c10-9be1-11e5-9c38-476fc8e3c8d1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    z-index: -1;
}

#FixedImage h2 {
    position: relative;
    color: #e6e6e6;
    text-shadow: 2px 2px 2px #000;
    font-size: 4em;
    font-family: "Courier New",Courier,monospace;
    text-align: center;
    top: 25%;
}
@media only screen and (max-width: 1068px) {
    /* For mobile phones: */
    #FixedImage {
    background-size: cover;
    
    height: 400px;
}
    #FixedImage h2 {
        font-size: 2em;
    }
}
/*SECTION 2 ********************************/
#Skills {
    background-color: #33baff;
    position: relative;
    height: 680px;
    top: 690px;
    font-family: "Courier New",Courier,monospace;
}

#Skills h2 {
    padding: 10px 0;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}

#Skills ul {
    list-style-type: none;
}

#Skills li {
    padding: 6px 15px;
    font-size: 2.5em;
    color: #fff;
    text-align: left;
}
@media only screen and (max-width: 1068px) {
     #Skills{
    top: 400px;
    }
    #Skills li{
    font-size:1.5em;
    }
}
progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 20px;
    width: 90%;
    box-shadow: 2px 2px 15px #000;
}

progress::-webkit-progress-bar {
/* style rules */
    background-color: #f3f3f3;
    border-radius: 5px;
}

progress::-webkit-progress-value {
/* style rules */
    background-color: #6f3;
    border-radius: 5px;
}
