/*RESPONSIVE GRID LAYOUT ********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/*END END RESPONSIVE GRID LAYOUT ********************************/
/*NAV BAR ********************************/
#NavWrap {
    position: fixed;
    z-index: 1;
    transition: all .5s;
    -webkit-transition: all .5s;
}

#NavWrap ul {
    list-style-type: none;
    margin: 5px 2%;
    padding: 0;
}

#NavWrap li {
    float: left;
}

#NavWrap li button {
    text-decoration: none;
    display: block;
    font-size: 1.6em;
    font-family: "Courier New",Courier,monospace;
    font-weight: 200;
    color: #e6e6e6;
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
}

#NavWrap li button:hover {
    box-shadow: 0 0 15px 3px #fff;
}

#NavWrap li button:focus {
    outline: none;
}

#RightSide {
    float: right;
}

@media only screen and (max-width: 400px) {
    #NavWrap {
        z-index: 0;
    }
}

/*END END NAV BAR ********************************/
/*SECTION 1 ********************************/
#FixedImage {
    position: fixed;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: -11;
}

#FixedImage h2 {
    position: relative;
    color: #e6e6e6;
    text-shadow: 0 0 12px #000;
    font-size: 4em;
    font-family: "Courier New",Courier,monospace;
    text-align: center;
    top: 25%;
}

@media only screen and (max-width: 520px) {
    #FixedImage {
        background-size: 100% 100%;
    }

    #FixedImage h2 {
        font-size: 2em;
    }
}

/*SECTION 2 ********************************/
#Skills {
    background-color: #33baff;
    position: relative;
    top: 960px;
    font-family: "Courier New",Courier,monospace;
}

#Skills h2 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 9px #000;
}

#Skills ul {
    margin: 0 0 100px 5%;
    list-style-type: none;
}

#Skills li {
    padding: 10px 0;
    font-size: 2.5em;
    color: #fff;
    text-align: left;
}

@media only screen and (max-width: 1400px) {
    #Skills {
        top: 740px;
    }
}

@media only screen and (max-width: 500px) {
    #Skills li {
        font-size: 1.5em;
    }
}

progress {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 20px;
    width: 90%;
    box-shadow: 2px 2px 15px #000;
}

progress::-webkit-progress-bar {
/* style rules */
    background-color: #f3f3f3;
    border-radius: 5px;
}

progress::-webkit-progress-value {
/* style rules */
    background-color: #6f3;
    border-radius: 5px;
}

/*SECTION 3 ********************************/
#About {
    padding: 10px 10%;
    position: relative;
    top: 960px;
    background-color: #00E38C;
    text-align: center;
    font-size: 2.3em;
    color: #fff;
    font-family: "Courier New",Courier,monospace;
    box-shadow: 0 3px 15px #000 inset;
}

@media only screen and (max-width: 1400px) {
    #About {
        top: 740px;
    }
}

/*SECTION 4 ********************************/
#ServicesHead {
    position: relative;
    top: 960px;
    color: #fff;
    text-shadow: 3px 3px 9px #000;
    text-align: center;
    font-size: 1.5em;
    background-color: #0cf;
    font-family: "Courier New",Courier,monospace;
    padding: 0 2%;
}

#Services {
    position: relative;
    height: 450px;
    top: 960px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    background-color: #0cf;
    font-family: "Courier New",Courier,monospace;
    padding: 10px 4%;
}

#Services img {
    box-shadow: 2px 3px 15px #000;
    max-width: 100%;
    height: 160px;
    border-radius: 20%;
}

@media only screen and (max-width: 1400px) {
    #ServicesHead {
        top: 740px;
    }

    #Services {
        top: 740px;
    }
}
