/*END Responsive web layout*/

/*section1*/
.section1{
  
  background-image: url("https://cloud.githubusercontent.com/assets/15953484/11427347/17c2043a-9430-11e5-9d25-de80cee38858.jpg");
  background-repeat: no-repeat;
  background-size:auto 100%;
  height:600px;

    box-shadow:0px 0px 20px 3px black;
}
@media only screen and (max-width: 1100px) {
    .section1{
      background-size:cover;
      height:325px;
   
  }
}
/*Nav Button*/
 .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:1.3em;
    display:block;
    position:relative;
    float:left;
    left:1%;
}
.menu li {

}
.hidden {
    list-style-type: none;
    margin: 0;
    padding: 0;
 position:absolute;
 
}
.hidden li {
 
}
a {
    display:block;
    text-decoration: none;
    color:#cccccc;
    border-radius:5px;
    background-color: transparent;
    box-shadow:0px 0px 20px .5px white;
    padding:8px;
    margin:10px 0 0 0;
    text-align:center;
}
.hidden li a {
    opacity: 0;
    transition: all 1s;
}
a:hover{
background-color:#737373;
}
.menu li:hover .hidden li a {
    opacity: 1;
    
}
/*end Nav Button*/
/*sidewall*/
.sidewall {
    font-size:1.6em;
    
    white-space: nowrap;
    position:absolute;
    width:38px;
    top:1%;
    right:0%;
    transition: all 1s;
    overflow:hidden;
    text-overflow:clip;
}

.sidewall:hover {
    width:330px;
}
.sidewall .span1{
    
    color:blue;
}
.sidewall .span2{
    
    color:#cccccc;
    
}
@media only screen and (max-width: 900px) {
  .sidewall {
    font-size:1.4em;
    top:10%;
    width:25px;
    
  }
  .sidewall:hover {
    width:260px;
}
  .sidewall .span2{
    
    
    text-shadow: 2px 2px black;
}
}
/* endsidewall*/
.section2 {
    font-size:1.5em;
    font-family:"Courier New", Courier, monospace;
    text-align: center;
    padding:0 20px;
}
