body {
    background-color: #afaeae;
    margin: 0;
}

/* Nav styles */

#navDiv ul { 
    list-style-type: none;
    margin: 0;
    padding: 10px 0px;
    overflow: hidden;
    background-color: #333;
}

#navDiv li {
    color: white;
    display: inline;
    padding: 14px 16px;
    font-size: 20px;
    cursor: pointer;
}

#navDiv li:hover {
    background-color: #4CAF50;
}

/* Instructions div styles */

#howDiv{
    background-color: #afaeae;
    width: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

/* map div styles */

#map {
    height: 90vh;
    width: 100%;
    position: absolute;
}

/* Table div styles */

#dataDiv{
    width: 100%;
    overflow: hidden;
    position: absolute;
}

td{
    text-align: center;
    cursor: pointer;
}