* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
  text-align: center;
}

#yearWrap {
  display: inline-block;
}

#monthWrap {
  display: inline-block;
}

#dayWrap {
  display: inline-block;
}

td {
  cursor: pointer;
}
