* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: play;
}

body {
  background-color: #3384ff;
}


/*****TOP BAR******/

#topBar {
  overflow: hidden;
  border-bottom: 1px solid black;
  background-color: #3384ff;
  text-align: center;
  box-shadow: 0px 0px 5px black;
}

#topBarHeader {
  cursor: pointer;
  width: 80%;
  display: inline-block;
  height: 40px;
}

#topBarHeader p {
  display: inline-block;
  padding: 5px 2px;
  font-size: 1.4em;
}

#eventInputSliderButton {
  float: right;
  width: 20%;
  height: 40px;
  font-size: 1.5em;
  border: none;
  border-left: 1px solid black;
  background-color: #cccccc;
}


/*****event input wrap******/

#eventInputWrap {
  overflow: hidden;
  border-bottom: 1px solid black;
  height: 0px;
  
}

#eventInput {
  float: left;
  font-size: 2em;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  height: 40px;
}

#eventPickYear {
  float: left;
  font-size: 1.2em;
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 0;
}

#eventPickMonth {
  float: left;
  font-size: 1.2em;
  width: 35%;
  height: 40px;
  border: none;
  border-radius: 0;
  border-left: 1px solid black;
}

#eventPickDay {
  float: left;
  font-size: 1.2em;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 0;
  border-left: 1px solid black;
}

#addEventBut {
  float: right;
  font-size: 2em;
  width: 20%;
  height: 40px;
  border: none;
  border-left: 1px solid black;
  background-color: #cccccc;
}


/*****event wrap******/

#eventWrap {
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  box-shadow: 0px 0px 5px black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#eventList {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  max-width: 90%;
  background-color: white;
}


/*****datepicker******/

#datePickerDropDown {
  overflow: hidden;
  display: none;
  border-bottom: 1px solid black;
}

#datePickerDropDown select {
  float: left;
  font-size: 1.2em;
  width: 40%;
  height: 40px;
  border: none;
  border-left: 1px solid black;
  border-radius: 0;
}

#dateSelectButton {
  width: 20%;
  height: 40px;
  font-size: 1.3em;
  border: none;
  border-left: 1px solid black;
  background-color: #cccccc;
}


/*****general selectors******/

button {
  outline: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin: 10px 0;
}

td {
  text-align: center;
  background-color: white;
  font-size: 1.4em;
  border: 1px solid black;
  cursor: pointer;
}
