body,
html {
  padding: 0;
  margin: 0;
}

#pagewrap {
  background-color: var(--crust);
  padding: 0 15%;
  display: flex;
  flex-direction: column;
}

#pagewrap div{
  padding: 16px; 
}

h1,
h2 {
  color: var(--green);
  align-self: center;
  margin: 4px 0px;
}

.display_cons {
  width: 128px;
  height: 128px;
}

.screen_shot {
  max-width: 100%;
  height: auto;
}

.icon_card {
  display: flex;
}

.icon_card img {
  flex-shrink: 0;
}

.icon_card p {
  padding: 0px 16px;
}

#pic_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic_a {
  text-align: center;
}
