#ResumePageWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2em;
}

#backLink {
    text-decoration: none;
    color: white;
    font-size: .8em;
    border-bottom: 1px solid rgb(255, 255, 255);
}