body,
html {
  margin: 0;
  height: 100%;
  background-color: var(--crust);
  color: var(--text);
  font-family: "Play";
  font-size: 1.3em;
}

p,
h1 {
  margin: 0;
}

h1 {
  color: var(--green);
}

hr {
  color: var(--blue);
  width: 100%;
}

#ResumePageWrap {
  background-color: var(--crust);
  display: flex;
  flex-direction: column;
  padding: 32px 15%;
}

#backLink {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.progIcon {
  width: 64px;
  height: 64px;
}

#prog_icon_div {
  display: flex;
  justify-content: space-around;
}

.prog_box {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.IconTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.IconTitle h1 {
  text-align: center;
  flex-grow: 1;
}

.IconTitle img {
  width: 64px;
  height: 64px;
}

.Card_1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
}

.tableStyled {
  border: 1px solid var(--blue);
  border-radius: 8px;
  margin: 8px 0;
}

.table_div {
  display: flex;
  align-items: end;
  justify-content: space-around;
}
